<!DOCTYPE html>
<html dir="{{dir}}" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Washio - Better | Faster | Cleaner</title>
    <meta name="description" content="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="preload" href="{{assets}}/images/logo.svg" as="image">
    <link data-n-head="ssr" rel="icon" type="image/x-icon" href="{{assets}}/images/favicon.ico">
    <link data-n-head="ssr" rel="apple-touch-icon" size="57x57" href="{{assets}}/images/apple-icon-57x57.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="60x60" href="{{assets}}/images/apple-icon-60x60.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="72x72" href="{{assets}}/images/apple-icon-60x60.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="76x76" href="/{{assets}}/imagesapple-icon-76x76.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="114x114" href="{{assets}}/images/apple-icon-114x114.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="120x120" href="{{assets}}/images/apple-icon-120x120.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="144x144" href="{{assets}}/images/apple-icon-144x144.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="152x152" href="{{assets}}/images/apple-icon-152x152.png">
    <link data-n-head="ssr" rel="apple-touch-icon" size="180x180" href="{{assets}}/images/apple-icon-180x180.png">
    <link data-n-head="ssr" rel="icon" type="image/png" size="192x192" href="{{assets}}/images/android-icon-192x192.png">
    <link data-n-head="ssr" rel="icon" type="image/png" size="32x32" href="{{assets}}/images/favicon-32x32.png">
    <link data-n-head="ssr" rel="icon" type="image/png" size="96x96" href="{{assets}}/images/favicon-96x96.png">
    <link data-n-head="ssr" rel="icon" type="image/png" size="16x16" href="{{assets}}/imagesxq/favicon-16x16.png">
    <link data-n-head="ssr" rel="manifest" href="/manifest.json">
   <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet' />
    {{#isPage "index"}}
    <link rel="stylesheet" href="{{assets}}/styles/{{style}}.css">
    {{else}}
    <link rel="stylesheet" href="{{assets}}/styles/{{style}}.css">
    {{/isPage}}
    {{> style-header}}

</head>

<body class="{{ bodyClass }} {{ pageClass }}">
    {{> body}}
</body>

</html>